.container-nearby_list {
    height: 87.5vh;
    width: 20vw;
    position: absolute;
    top: 10vh;
    right: 0;
    z-index: 1000;
    background-color: maroon;
}

.container-nearby_list_items {
    background-color: orange;
}