.map-sidepanel-right {
    height: 100vh;
    /* height: 87.5vh; */ /* UNCOMMENT IF USING OLODINS TOP-NAVBAR */
    width: 20vw;
    position: absolute;
    /* top: 10vh; */ /* UNCOMMENT IF USING OLODINS TOP-NAVBAR */
    right: 0;
    z-index: 1000;
    background-color: pink;
}

.container-nearby_list {
}

.container-nearby_list_items {
    margin: 1vh 0;
    background-color: orange;
}

.container-nearby_list_loading_screen {
    background-color: rgb(27, 223, 216);
}

.container-request_list_items {
    margin: 1vh 0;
    background-color: red;
}