.map-sidepanel-left {
    height: 60vh;
    width: 25vw;
    position: absolute;
    top: 20vh;
    left: 5vh;
    z-index: 1000;
    background-color: forestgreen;
    border-radius: 25px;
    padding: 20px 25px;
    opacity: 0.95;
}