/*

Tooplate 2095 Level

https://www.tooplate.com/view/2095-level

*/

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	overflow-x: hidden;
}

a, button { transition: all 0.3s ease; }
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

.tm-position-relative { position: relative; }
.tm-flex-align-center { align-items: center; }
.tm-fa-6x { font-size: 6em; }
.tm-margin-b-0 { margin-bottom: 0; }
.tm-margin-b-20 { margin-bottom: 20px; }
.tm-p-4 { padding: 2rem!important; }
.tm-color-white { color: white; }
.tm-color-primary {	color: #037013; }
.tm-bg-primary { background: #037013; }
.tm-bg-gray { background: #F4F4F4; }
.tm-bg-white { background: white; }
.tm-bg-dark-blue { background: #1f3646; }

.tm-bg-white-shadow {
	-webkit-box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
	-moz-box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
	box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
}

.tm-section-pad { padding: 30px 50px; }
.tm-section-pad-2 { padding: 30px 40px; }
.tm-article-pad { padding: 28px; }
.tm-sidebar-pad { padding: 15px 20px; }
.tm-sidebar-pad-2 { padding: 21px 20px; }
.tm-pad { padding: 20px; }

a.tm-color-primary:hover,
a.tm-color-primary:active {
	color: #037013;
}

.tm-font-light { font-weight: 300; }
.tm-font-normal { font-weight: 400; }
.tm-font-semibold { font-weight: 600; }

p { 
	color: #898989; 
	line-height: 1.9;
}

.navbar { 
	width: 100%; 
	padding-top: 0;
	padding-bottom: 0;
}
.navbar-brand {
	font-size: 1.5rem;
	font-weight: 700;
	font-family: Calibri;
}
.navbar a { color: black; }

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(238, 80, 87, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler { 
	border-color: rgb(3,112,19); 
	cursor: pointer;
}

.nav-item {
	background: transparent;
	border-left: 1px solid #ccc;
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: 300;
    text-transform: uppercase;
    padding: 0;
    transition: all 0.5s ease;
}

.nav-item:last-child { border-right: 1px solid #ccc; }

.nav-link.active{
	color: white;
	background: #037013;
}

.nav-link:hover {
	color: white;
	background: #037013;	
}

.tm-top-bar .navbar-expand-lg .navbar-nav .nav-link { padding: 30px 15px; } /*  for nav bar  */

.tm-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: 80px;
    background: white;
}

.tm-top-bar.active {
	height: 50
	x;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.tm-top-bar.active .navbar-expand-lg .navbar-nav .nav-link { padding: 30px 35px; }
.tm-top-bar-bg { height: 80px; }
.tm-section { min-height: 515px; }

.tm-section-pad {
	padding-top: 80px;
	padding-bottom: 80px;
}

#tm-section-1 {	
	background-image: url('../img/cebu-city.jpg');	
	height: 715px;
}

#tm-section-5 { background-image: url('../img/bg-img-2.jpg'); }

#tm-section-6 {
	background-image: url('../img/bg-img-3.jpg');
	background-position: top center;
	padding-top: 120px;
	padding-bottom: 60px;
}

.tm-bg-img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center
}

.qs-datepicker {
	font-family:  'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 0.8rem;
}

.form-control {
	border-radius: 0;
	padding: 0.6rem 0.75rem;
}

.form-control:focus {
	border-color: #037013;
	box-shadow: 0 0 0 0.2rem rgba(238,80,87,.25);
}

.btn-primary {
	background-color: #037013;
	border-color: #037013;
	border-radius: 0;
	cursor: pointer;
	font-size: 0.7rem;
	font-weight: 600;
	padding: 13px 30px;
	text-transform: uppercase;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background-color: #037013;
	border-color: #037013;
}

.tm-search-form .tm-form-element { padding: 0 5px; }
.tm-form-element { position: relative; }
.tm-form-element:last-child { margin-right: 0; }

.tm-form-element-icon {
	color: #037013;
	position: absolute;
	top: 10px;
	left: 15px;
}

.tm-form-element-icon-small {
	top: 16px;
	left: 18px;
}

select.tm-select.form-control:not([size]):not([multiple]) { height: 100%; }

select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDZFNDEwNjlGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDZFNDEwNkFGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0NkU0MTA2N0Y3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0NkU0MTA2OEY3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuGsgwQAAAA5SURBVHjaYvz//z8DOYCJgUxAf42MQIzTk0D/M+KzkRGPoQSdykiKJrBGpOhgJFYTWNEIiEeAAAMAzNENEOH+do8AAAAASUVORK5CYII=);
    padding: .5em;
    padding-right: 1.5em
}

/* https://stackoverflow.com/questions/20163079/remove-select-arrow-on-ie */
select.tm-select::-ms-expand { display: none; }

.tm-select {
    border-radius: 0;
    color: #858789;
}

.tm-search-form .form-control {
	font-size: 0.8rem;	
	padding: 0.75rem 0.75rem 0.75rem 45px;
}

.tm-search-form .tm-form-element { width: 33.3333%; }
.tm-search-form .tm-form-element-2 { width: 25%; }
.tm-search-form-row { width: 900px; }
.tm-btn-search { width: 100%; }

/* https://css-tricks.com/creating-non-rectangular-headers/ */
.tm-section-down-arrow {
  position: absolute;
  top: -1px;
  width: 100%;
  height: 100px;
}

.tm-pt-5 { padding-top: 150px; }
.tm-pb-4 { padding-bottom: 100px; }

.tm-section-2 {
	background: #2ab13e;
	padding-top: 50px;
	position: relative;
}

.tm-section-title {
	color: white;
	font-size: 3rem;
}

.tm-section-title-2 {
	font-size: 3.2rem;
    font-weight: 600;
}

.tm-section-subtitle {
	font-size: 1rem;
	font-weight: 300;
	margin-bottom: 25px;
}

.tm-section-subtitle-2 { font-size: 1.8rem; }

.tm-btn-white-bordered {
	display: inline-block;
	padding: 10px 25px;
	border: 2px solid white;
	background: transparent;
	text-transform: uppercase;
}

.tm-btn-white-bordered:hover,
.tm-btn-white-bordered:focus {
	color: #037013;
	background: white;	
}

.slick-dots { bottom: -35px; }

.tm-article {
	padding: 40px;
	transition: all 0.3s ease;
}

.tm-article:hover {
	-webkit-box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
	-moz-box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
	box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
	transform: scale(1.1);
}

.tm-article-title-1 {
	font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.tm-article-title-2 { 
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 1px;
}

.tm-article-title-3 { font-size: 1.1rem; }

.tm-btn-primary {
	display: block;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.75rem;
}

.tm-sidebar-title {
	font-size: 1.3rem;
	margin-bottom: 5px;
}

.tm-sidebar-item-title {
	font-size: 1.2rem;
	letter-spacing: 1px;
	margin-bottom: 0;	
}

.tm-recommended-item .tm-bg-gray { transition: all 0.3s ease; }
.tm-recommended-item:hover .tm-bg-gray { background: #DDD; }

.tm-recommended-item h4 { 
	color: black; 
	transition: all 0.3s ease;
}

.tm-recommended-item:hover h4 { color: #ee5057; }
.tm-media { align-items: stretch; }

.tm-media,
.tm-media-1 {
	margin-bottom: 15px;
}

.tm-media:last-child,
.tm-media-1:last-child {
	margin-bottom: 0;
}

.tm-media-body,
.tm-media-body-1 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	padding-left: 25px;
}

.tm-media-body-v-center {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    		align-items: flex-start;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 515px;
    z-index: 1;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tm-bg-video { 
	position: relative; 
	padding-top: 515px;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.tm-btn-pause { display:none; }

.tm-btn-play,
.tm-btn-pause {
	color: rgba(255,255,255,0.5);
	cursor: pointer;
}

.tm-media-container { max-width: 772px; }

#google-map {
    height: 279px;
    width: 100%;    
}

.contact-form .form-control {
	background-color: #F4F4F4;
	border: none;
	font-size: 0.8rem;
	font-weight: 300;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

@media screen and (max-width: 991px) {
	.tm-top-bar.active, .tm-top-bar, .tm-top-bar-bg { height: 65px; }
	.tm-top-bar.active .navbar-expand-lg .navbar-nav .nav-link,
	.tm-top-bar .navbar-expand-lg .navbar-nav .nav-link {
	    padding: 12px 15px;
	}
	#mainNav {
		width: 180px;
	    position: absolute;
	    top: 60px;
	    right: 15px;

		-webkit-box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
		-moz-box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
		box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
	}

	.tm-search-form .tm-form-element { 
		width: 33%; 
		max-width: 215px;
	}

	.tm-search-form-row { width: 98%; max-width: 900px; }
	.tm-recommended-container { margin-top: 30px; }

	video {
		top: 25%;
		left: 0;
	    min-width: 50%;
	    min-height: 50%;
	    width: auto;
	    height: auto;	 
	}
}

@media screen and (max-width: 767px) {
	.tm-search-form .tm-form-element {
		width: 50%;
		max-width: 235px;
	}

	#tm-section-1 {
		padding-left: 15px;
		padding-right: 15px;
	}

	.tm-media-container,
	.tm-media-title-container {
	    max-width: 320px;
	    margin-right: auto;
	}

	.tm-media-title-container {
		margin-left: auto;
		margin-bottom: 20px;
	}

	.tm-media-1 {
		flex-direction: column;
		max-width: 280px;
		margin-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
	}

	.tm-media-body-1 {
		padding-left: 0;
		margin-left: 0;
		margin-top: 20px;
	}

	.tm-bg-video { padding-top: 255px; }
	.overlay { height: 255px; }
}

@media screen and (max-width: 767px) and (min-width: 524px) {
	.tm-search-form .tm-form-element-100 { 
		width: 100%; 
		max-width: none;
	}

	.tm-search-form .tm-form-element-50 { width: 50%; }
}

@media screen and (max-width: 524px) {
	.tm-section-pad-2 { padding: 20px 25px; }

	.tm-search-form .tm-form-element {
		width: 100%;
		max-width: 100%;
	}

	.tm-fx-col-xs { flex-direction: column; }
	.tm-section-pad { padding: 25px 15px; }
	#tm-section-1 { height: 600px; }
}

/* IE Fixes */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
     .ie-h-align-center-fix {
     	margin-left: 0;
     	margin-right: 0;
     }

     .ie-10-ml-auto { float: right; }
     .tm-media-body, .tm-media-body > * { width: 100%; }
     .tm-media-body-1, .tm-media-body-1 > * { width: 100%; }
     .tm-media-1 > * { flex: 1 1 auto; }
}

@media all and (max-width: 1199px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.ie-container-width-fix { width: 960px; }
}

@media all and (max-width: 600px) {
	.ie-container-width-fix-2 { width: 100%; }
}

@media all and (max-width: 560px)  and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.ie-container-width-fix {
		max-width: 530px;
		width: 100%;
	}	
}


/* Paulo css */

.main-container{
	background-color: #0a6b46;
	padding: 50px;
	margin: auto;
	margin-bottom: 20px;
	height: 50%;
    width: 100%;
}

.left-column{
	
	border-radius: 25px;
  	border: 1px solid #ffffff;
    float: left;
	margin: auto;
    width: 100%;
	height: 100%;
}
.column-space{
	width: 1%;
	float: left;
}
.right-column{
	margin: auto;
	border-radius: 25px;
  	border: 1px solid #ffffff;
    float: left;
    width: 20%;
}

.column-content{
	padding: 20px;
    margin: auto;
}
/* Table */

table, tbody, tfoot, thead, tr, th, td{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
}

table {
    margin: 0 0 2em 0;
    width: 100%;
}

    table tbody tr {
        border: solid 1px #dbdbdb;
        border-left: 0;
        border-right: 0;
    }

        table tbody tr:nth-child(2n + 1) {
            background-color: rgba(144, 144, 144, 0.075);
        }

    table td {
        padding: 0.75em 0.75em;
    }

    table th {
        color: rgb(255, 255, 255);
        font-size: 0.9em;
        font-weight: 600;
        padding: 0 0.75em 0.75em 0.75em;
        text-align: left;
    }

    table thead {
        border-bottom: solid 2px #dbdbdb;
    }

    table tfoot {
        border-top: solid 2px #dbdbdb;
    }

    table.alt {
        border-collapse: separate;
    }

        table.alt tbody tr td {
            border: solid 1px #dbdbdb;
            border-left-width: 0;
            border-top-width: 0;
        }

            table.alt tbody tr td:first-child {
                border-left-width: 1px;
            }

        table.alt tbody tr:first-child td {
            border-top-width: 1px;
        }

        table.alt thead {
            border-bottom: 0;
        }

        table.alt tfoot {
            border-top: 0;
        }

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	background-color: transparent;
	box-shadow: inset 0 0 0 3px #6cc091;
	color: #6cc091 !important;
	border-radius: 30px;
	border: 0;
	cursor: pointer;
	display: inline-block;
	font-size: .75em;
	font-weight: 400;
	height: 3.75em;
	line-height: 3.85em;
	letter-spacing: 2px;
	padding: 0 4em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}

	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover,
	button:hover,
	.button:hover {
		background-color: rgba(108, 192, 145, 0.15);
	}

	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active,
	button:active,
	.button:active {
		background-color: rgba(108, 192, 145, 0.15);
	}

	input[type="submit"].icon,
	input[type="reset"].icon,
	input[type="button"].icon,
	button.icon,
	.button.icon {
		padding-left: 1.35em;
	}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			margin-right: 0.5em;
		}

	input[type="submit"].fit,
	input[type="reset"].fit,
	input[type="button"].fit,
	button.fit,
	.button.fit {
		display: block;
		margin: 0 0 1em 0;
		width: 100%;
	}

	input[type="submit"].small,
	input[type="reset"].small,
	input[type="button"].small,
	button.small,
	.button.small {
		font-size: 0.8em;
	}

	input[type="submit"].big,
	input[type="reset"].big,
	input[type="button"].big,
	button.big,
	.button.big {
		font-size: 1.35em;
	}

	input[type="submit"].alt,
	input[type="reset"].alt,
	input[type="button"].alt,
	button.alt,
	.button.alt {
		background-color: transparent;
		box-shadow: inset 0 0 0 3px #FFF;
		color: #fff !important;
	}

		input[type="submit"].alt:hover,
		input[type="reset"].alt:hover,
		input[type="button"].alt:hover,
		button.alt:hover,
		.button.alt:hover {
			background-color: #7ec89e;
		}

		input[type="submit"].alt:active,
		input[type="reset"].alt:active,
		input[type="button"].alt:active,
		button.alt:active,
		.button.alt:active {
			background-color: #7ec89e;
		}

		input[type="submit"].alt.icon:before,
		input[type="reset"].alt.icon:before,
		input[type="button"].alt.icon:before,
		button.alt.icon:before,
		.button.alt.icon:before {
			color: #bbb;
		}

	input[type="submit"].special,
	input[type="reset"].special,
	input[type="button"].special,
	button.special,
	.button.special {
		background-color: #6cc091;
		color: #ffffff !important;
	}

		input[type="submit"].special:hover,
		input[type="reset"].special:hover,
		input[type="button"].special:hover,
		button.special:hover,
		.button.special:hover {
			background-color: #7ec89e;
		}

		input[type="submit"].special:active,
		input[type="reset"].special:active,
		input[type="button"].special:active,
		button.special:active,
		.button.special:active {
			background-color: #5ab884;
		}

	input[type="submit"].disabled, input[type="submit"]:disabled,
	input[type="reset"].disabled,
	input[type="reset"]:disabled,
	input[type="button"].disabled,
	input[type="button"]:disabled,
	button.disabled,
	button:disabled,
	.button.disabled,
	.button:disabled {
		background-color: #9a9a9a !important;
		box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
		color: #fff !important;
		cursor: default;
		opacity: 0.25;
	}

	@media screen and (max-width: 480px) {

		input[type="submit"],
		input[type="reset"],
		input[type="button"],
		button,
		.button {
			padding: 0;
			width: 100%;
		}

	}

	/* fonts */

	h3, h5, h6 {
		color: #ffffff;
	}

	/* modal */
	/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */


 #map {

    width: 100%;

    height: 400px;

    background-color: grey;

}


